body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.8251928020565553) 0%, rgba(9,39,121,0.6838046272493573) 26%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.resetBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

button {
    background-color: transparent;
    border: none;
    pointer-events: stroke;
}

button:hover {
    text-decoration-line: underline;
}

label {
    font-weight: bolder;
}